/target/
/project/target/
/project/project/
/.idea/libraries/
/.idea/modules/
.idea/modules.xml
.idea/scala_compiler.xml
/journal/
/src/main/resources/datastax.conf
/src/main/resources/cassandra_truststore.jks
/src/main/resources/repoAuth.txt
/server/target
/client/target
/shared/.js/target
/shared/.jvm/target
/node_modules
/js
