/target/
/project/target/
/project/project/
/.idea/libraries/
/.idea/modules/
.idea/modules.xml
.idea/scala_compiler.xml
/journal/
/server/target
/client/target
/shared/.js/target
/shared/.jvm/target
/node_modules
/js
